.collage{
  position: absolute;
}

#page-content{
  width: 80vw;
  height: 80vw;
  background-color: yellowgreen;
}

#green{
  color: green
}

h1{
  color: orange
}

h2{
  color: red
}

h3{
  color: goldenrod
}

h4{
  color: purple
}

p{
 color:blue;
}

.rotate-element{
 transform: rotate(90deg);
}