.collage{
  position: absolute;
}

#page-content{
  width: 95vw;
  height: 95vw;
  background-color: lightseagreen;
}

#green{
  color: green
}

h1{
  color: orange
}

h2{
  color: red
}

h3{
  color: goldenrod
}

h4{
  color: purple
}

p{
 color:blue;
}

.cropContainer{
 position:relative;
 overflow:hidden;
}