.collage{
  position: absolute;
}

#page-content{
  width: 95vw;
  height: 95vw;
  background-color: lightseagreen;
}

#green{
  color: green;
}

h1{
  color: orange;
}

h2{
  color: red;
  transform: rotate(40deg);
}

h3{
  color: goldenrod;
}

h4{
  color: purple;
}

p{
 color:blue;
}

.cropContainer{
 position:relative;
 overflow:hidden;
}

.container{
  position:relative;
  width:100vw;
  height:200px;
  background-color: aquamarine;
}

.center{
  position:absolute;
  left:50%;/*moving the element to the center of the screen*/
  top:50%;
  transform:translate(-50%,-50%);
  margin:0;
}

.display-exp{
  display:flex;
}