#page-journal{
    width:auto;
    height:auto;
    background-color: lightcoral;
}

.container{
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    width:40vw;
    height:160px;
    background-color: red;
    border-radius:10px;
    align-items: center;
}

.display{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    width: 90vw;
    height: 150px;
}

.display div{
    flex:1;
    padding: 20px;
    border-radius: 10px;
}

