#page-journal{
    width:auto;
    height:auto;
    background-color: lightcoral;
}

.container{
    position:relative;
    width:30vw;
    height:160px;
    background-color: red;
}

.display{
    display:flex;
    justify-content: space-between;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    width: 90vw;
    height: 150px;
}

.display div{
    flex:1;
    padding: 20px;
    border-radius: 10px;
}
