#page-journal{
    width:auto;
    height:auto;
    background-color: rgb(255, 210, 210);
}

.container{
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    width:40vw;
    height:160px;
    background-color: red;
    border-radius:10px;
    align-items: center;
    animation-name:changeBGlist;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.display{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    width: 90vw;
    height: 150px;
}

.display div{
    flex:1;
    padding: 20px;
    border-radius: 10px;
    animation-name:changeBG;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changeBG{
    from{background-color: mediumpurple;}
    to{background-color: salmon;}
    to{background-color: red;}
}

@keyframes changeBGlist{
    from{background-color: red;}
    to{background-color: hotpink;}
}