.collage{
  position: absolute;
}

#page-content{
  width: 95vw;
  height: 95vw;
  background-color: lightseagreen;
}

#green{
  color: green;
}

h1{
  color: orange;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h2{
  color: red;
  transform: rotate(40deg);
}

h3{
  color: goldenrod;
}

h4{
  color: purple;
}

p{
 color:blue;
}

.cropContainer{
 position:relative;
 overflow:hidden;
}

.container{
  position:relative;
  width:100vw;
  height:200px;
  background-color: aquamarine;
}

.center{
  position:absolute;
  left:50%;/*moving the element to the center of the screen*/
  top:50%;
  transform:translate(-50%,-50%);
  margin:0;
}

.display-exp{
  display:flex;
  gap:20px;
}

.display-exp div{
  flex:1;
  padding:20px;
  color:white;
  margin:20px;
}

.flex-container{
  display:flex;
  width:100vw;
  background-color: lightsalmon;
  height:500px;
  justify-content: center;
  align-items: center;
}

