#page-journal{
    width:auto;
    height:auto;
    background-color: lightcoral;
}

.container{
    position:relative;
    width:100vw;
    height:200px;
    background-color: red;
}

.display{
    display:flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px; 
}

.display div{
    flex:1;
    padding: 16px;
    border-radius: 10px;
}
